<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	<title>buyfly</title>

	</style>

	</head>
    {%  load static %}
    <link href="{%  static "css/stylesheet.css" %}" rel="stylesheet" type="text/css" />

<body>


	<div class="header">
		<h1><font color="#0174DF">buyfly.</font></h1>
		 Flight Tickets
	</div>
<div class="headernavigation">
	<div class="dropdown">
		<a href="index.html"><button class="dropbtn"><i class="fa fa-desktop"></i> Home</button></a>
	</div>
	<div class="dropdown">
		<button class="dropbtn"><i class="fa fa-ticket"></i> Tickets </button></a>

	</div>

	</div>
</div>

<div class="monitor">
  <h2 class="child">Home</h2>
  <p class="child2">Inhalt</p>
 </div>




</body>

</html>
