body {

/* ---------------------------ALLGEMEIN--------------------------------------------------- */

	background-color: white;
	}

/* ---------------------------LINKS--------------------------------------------------- */

a.standard:link {
	color: #4f4f4f;
	text-decoration: none;

}

a.standard:visited {
	color: #4f4f4f;
	text-decoration: none;
}

a.standard:hover {
	color: #4f4f4f;
	text-decoration: underline;
}



a.blocklink:link {
    display: block;
    border: none;
	border-radius: 5px;
	text-decoration: none;
    background-color: #4f4f4f;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
}

a.blocklink:visited {
    display: block;
    border: none;
	border-radius: 5px;
	text-decoration: none;
    background-color: #4f4f4f;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
}

a.blocklink:hover {
    background-color: #656565;
    color: white;
	text-decoration: underline;
}

/* ---------------------------Button--------------------------------------------------- */

.dropbtn {
    background-color: #656565;
    color: white;
    padding: 12px;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
	margin-left: 20px;
	margin-right: 20px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #868686;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}



.dropdown-content a:hover {background-color: #6baf0a}



.dropdown:hover .dropbtn {
    background-color: #868686;
	text-decoration: underline;
}


/* ---------------------------DIVS--------------------------------------------------- */

div {
		border: 0px dotted red;
	}



	div.header {
		position: fixed;
		top: 10px;
		left: 0;
		right: 0;
		height: 100px;
		margin-left: 200px;
		margin-right: 20px;
		font-family: "Corbel", sans-serif;
		color: gray;
	}

	div.headernavigation {
		background: #0174DF;
		position: absolute;
		top: 120px;
		left: 0;
		right: 0;
		height: 45px;
		width: 80%;
		padding-left: 200px;
		margin-left: 200px;
		font-family: "Corbel", sans-serif;
	}

	div.monitor {
		position: fixed;
		left: 0;
		right: 0;
		top: 180px;
		bottom: 50px;
		margin-left: 220px;
		margin-right: 20px;
		font-family: "Corbel", sans-serif;
	}





inhalttitle {
		background: #6baf0a;
		width: 400px;
		border-radius: 5px;
		color: #FFFFFF;
		font-size: 20px;
		text-decoration: none;
		font-family: "Corbel", sans-serif;
}

inhalttitle:hover {
	background: #000000;
}

/* ---------------------------BUTTONS--------------------------------------------------- */

.block {
    display: block;
    border: none;
	border-radius: 5px;
    background-color: #6baf0a;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
}

.block:hover {
    background-color: #656565;
    color: white;
}

h1 {
	color: gray;
	margin-bottom: 0px;
	margin-top: 10px;
	}

h2 {
	color: #4f4f4f;
	}

p {
	color: #4f4f4f;
	}


/* ---------------------------FORMULARE--------------------------------------------------- */

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 5px 5px 5px 0;
    display: inline-block;
	font-family: sans-serif;
	font-size: 14px;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-15 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-85 {
    float: left;
    width: 85%;
    margin-top: 6px;
}

